<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>subway-search</title>
  <style>
    body{
      color:#00000;
      background: #FFFFFF;
      margin:0px;
      padding;0px;
    }
    .show{
      color:#0000FF;
      background: #FFFFFF;
      margin:5px 0px;
      padding;0px;
    }
    .nowrap{white-space: nowrap;}
    .quarter{width:25%}
    .twe{width:20%}
  </style>
  <script src="/static/js/jquery2.min.js"></script>
</head>
<body>
    <div class="header" style="margin:0 0 10px 0;padding:6px;color:white;width:100%;height:26px;background-color: rgb(77,152,255);">
        <a href="/search" style="color:white;">地铁站查询</a> | <a href="/lines" style="color:white;">线路列表</a>
    </div>
