{% include 'header.html' %}

   <table style="width:100%">
    {%if number>0%}
    <tr>
      <td class="quarter">线路</td>
      <td class="nowrap">最早开通时间</td>
      <td class="nowrap">运营者</td>
  </tr>
    {%for line in lines%}
    <tr class="show">
      <td><a href="/station?stationName=&lineName={{line.name}}">{{line.name}}</a></td>
      <td class="nowrap">{%if line.startdate %}{{line.startdate.strftime('%Y-%m-%d') }}{%endif%}</td>
      <td >{{line.company}}</td>
    </tr>
    {%endfor%}
    {%endif%}
</table>
</body>
</html>


<script>

</script>
