<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>subway-search</title>
  <style>
    body{
      color:#00000;
      background: #FFFFFF;
      margin:10px;
      padding;10px;
    }
    .show{
      color:#0000FF;
      background: #FFFFFF;
      margin:5px 0px;
      padding;0px;
    }
    .nowrap{white-space: nowrap;}
    .quarter{width:25%}
    .twe{width:20%}
  </style>
  <script src="/static/js/jquery2.min.js"></script>
</head>
<body>
    <div><a href="/lines">北京地铁线路列表</a></div>
  <form action="/search" method="post">
    <label>要查找的内容：</label>
    <input type="text" id="keyword" name="keyword" style="width:100px;"/>&nbsp;
    <input type="submit" value="查询" />
  </form>
  <p>共找到 <span class="show">{{number}}</span> 个含有【<span class="show">{{keyword}}</span>】的地铁站</p>
  <table style="width:100%">
    {%if number>0%}
    <tr>
      <td class="quarter">站名</td>
      <td class="nowrap" class="twe">行政区</td>
      <td >坐标</td>
      <td class="nowrap">最早开通时间</td>
  </tr>
    {%for station in stations%}
    <tr class="show">
      <td><a href="/station?lineName=&stationName={{station.name}}">{{station.name}}</a></td>
      <td  class="quarter">{{station.district}}</td>
      <td style="font-size:10px;">{{station.longitude}}E {{station.latitude}}N</td>
      <td class="nowrap">{%if station.startdate %}{{station.startdate.strftime('%Y-%m-%d') }}{%endif%}</td>
    </tr>
    {%endfor%}
    {%endif%}
</table>
</body>
</html>


<script>

</script>
